/* styles/globals.css */
@import 'tailwindcss/tailwind.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    html {
        scroll-behavior: smooth;
        scroll-padding-top: 120px;
    }

    :root {
        --color-dark-gray: 33 34 36;
        --color-light-gray: 224 224 224;
        --color-brand-blue: 0 124 186;
        --color-brand-gold: 223 189 133;
    }

    button,
    a {
        @apply focus:outline-none focus:ring-1 focus:ring-offset-1 focus:ring-brandBlue focus:dark:ring-white;
    }

    a.button {
        @apply focus:outline-none focus:ring-2 focus:ring-offset-1 focus:ring-brandBlue focus:dark:ring-white;
    }
}

@layer components {
    .wrapper {
        @apply container mx-auto px-3 md:px-0;
    }

    section:first-of-type {
        @apply py-xl md:pt-xxl md:pb-lg;
    }

    section + section {
        @apply pb-md md:pb-lg lg:pb-xl;
    }

    @keyframes customRotate {
        from {
            transform: rotate(0deg) translate(25%, 25%);
            transform-origin: center center;
        }
        to {
            transform: rotate(360deg) translate(25%, 25%);
            transform-origin: center center;
        }
    }

    .gator-animated {
        animation: customRotate 20s linear infinite;
    }

    .gator-static {
        transform: rotate(0deg) translate(25%, 25%);
        transform-origin: center center;
    }

    .markdown-text {
        @apply transition-all duration-300 prose max-w-full dark:prose-blockquote:text-white prose-blockquote:text-darkGray   dark:prose-headings:text-white prose-p:text-body prose-p:first-of-type:m-0 prose-p:mt-0 prose-p:leading-[32px] prose-ul:text-body prose-ul:leading-[32px] dark:text-white prose-a:text-brandBlue dark:prose-a:text-brandGold prose-a:font-normal; 
    }

    .footer-text {
        @apply prose-p:m-0;
    }

} 