/* styles/globals.css */
@import 'tailwindcss/tailwind.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    html {
        scroll-behavior: smooth;
        scroll-padding-top: 120px;
    }

    :root {
        --color-darker-gray: 18 18 18;
        --color-dark-gray: 33 34 36;
        --color-light-gray: 224 224 224;
        --color-brand-blue: 0 124 186;
        --color-brand-gold: 223 189 133;
    }

    div.patterns {
        button,
        a {
            @apply focus:outline-none focus:ring-1 focus:ring-offset-1 focus:ring-brandBlue focus:dark:ring-white;
        }

        a.button {
            @apply focus:outline-none focus:ring-2 focus:ring-offset-1 focus:ring-brandBlue focus:dark:ring-white;
        }
    }
}

@layer components {
    .wrapper {
        @apply container mx-auto px-3 md:px-0;
    }

    section:first-of-type {
        @apply pb-md pt-xl md:pt-xxl md:pb-lg;
    }

    section + section {
        @apply pb-md md:pb-lg lg:pb-xl;
    }

    @keyframes customRotate {
        from {
            transform: rotate(0deg) translate(25%, 25%);
            transform-origin: center center;
        }
        to {
            transform: rotate(360deg) translate(25%, 25%);
            transform-origin: center center;
        }
    }

    .gator-animated {
        animation: customRotate 20s linear infinite;
    }

    .gator-static {
        transform: rotate(0deg) translate(25%, 25%);
        transform-origin: center center;
    }

    .markdown-article code {
        @apply bg-brandBlue/10 text-darkGray font-semibold dark:bg-gray-800 dark:text-white p-1 rounded-sm text-sm;
    }

    .markdown-article code::after,
    .markdown-article code::before {
        display: none;
    } 

    .markdown-article pre code {
        @apply bg-transparent text-darkGray dark:bg-transparent dark:text-white font-normal;
    }

    .markdown-article pre {
        @apply bg-brandBlue/10;
    }

    .markdown-article table {
        @apply border dark:border-white border-darkGray text-base;
    }

    .markdown-article table tr {
        @apply border-b border-b-darkGray dark:border-b-white;
    }

    .markdown-article table tr td {
        @apply p-1;
    }

    .markdown-text {
        @apply prose 
        transition-all 
        duration-300  
        max-w-full 
        dark:prose-blockquote:text-white 
        prose-blockquote:text-darkGray 
        dark:prose-headings:text-white
        prose-p:first-of-type:m-0
        prose-p:m-0 
        prose-p:text-body 
        prose-p:leading-[32px]
        prose-ul:text-body 
        prose-ul:leading-[32px] 
        dark:text-white 
        prose-a:text-brandBlue 
        dark:prose-a:text-brandGold 
        prose-a:font-normal 
        dark:prose-strong:text-white
    }

    .markdown-article {
        @apply prose transition-all duration-300 max-w-full dark:prose-blockquote:text-white prose-blockquote:text-darkGray dark:prose-headings:text-white prose-p:text-body prose-p:leading-[32px] prose-ul:text-body prose-ul:leading-[32px] dark:text-white prose-a:text-brandBlue dark:prose-a:text-brandGold prose-a:font-normal dark:prose-strong:text-white prose-p:mb-3;
    }

    .markdown-project {
        @apply prose transition-all duration-300 max-w-full dark:prose-blockquote:text-white prose-blockquote:text-darkGray dark:prose-headings:text-white prose-p:text-body prose-p:leading-[32px] prose-ul:text-body prose-ul:leading-[32px] dark:text-white prose-a:text-brandBlue dark:prose-a:text-brandGold prose-a:font-normal dark:prose-strong:text-white prose-p:m-0;
    }

    .footer-text {
        @apply prose-p:m-0;
    }

    select.select-filter {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2210%22%20height%3D%226%22%20viewBox%3D%220%200%2010%206%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M0.800049%200.799988L4.80005%204.79999L8.80005%200.799988%22%20stroke%3D%22%23333333%22%20stroke-width%3D%221.6%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%0A%3C%2Fsvg%3E");
        background-repeat: no-repeat;
        background-size: 12px;
        background-position: calc(100% - 10px);
    }

    .dark select.select-filter {
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2210%22%20height%3D%226%22%20viewBox%3D%220%200%2010%206%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M0.800049%200.799988L4.80005%204.79999L8.80005%200.799988%22%20stroke%3D%22white%22%20stroke-width%3D%221.6%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%0A%3C%2Fsvg%3E");
    }

    .project-modal h2 {
        @apply dark:text-darkGray !important;
    }

    .project-modal .markdown-project {
        @apply dark:text-darkGray !important;
    }

    .project-modal .markdown-project {
        @apply prose-blockquote:text-darkGray !important;
    }

    .project-modal .tag {
        @apply dark:ring-darkGray !important;
    }

    .project-modal .tag p {
        @apply dark:text-darkGray !important;
    }

    .project-modal a {
        @apply dark:text-darkGray !important;
    }

} 